<div ng-controller="bankupdateController">
    <h2>
        BANK DETAILS
    </h2>
     <button class="btn btn-success btn-lg"  ng-click="options()">Go to Bank</button>
     <button class="btn btn-danger btn-lg"  ng-click="logout()">logout</button>
     <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <p>Only BankName will be shown to user-- Since All the details are saved after encryption only!!</p>
    <p> The Card No, Account No will be encrypted and saved </p>
    <!--<input ng-model="search" type="text">
    <ul>
      <li ng-repeat="bank in banks | filter:search" >
        <a ng-href = '{{"#/user/"+id+"/bank/"}}{{bank.bankName}}'>{{bank.bankName}}</a>
      </li>
     </ul>
     <div>
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>BankName</th>
           <!-- <th>ACC NO</th>
            <th>CARD NO</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in banks">
            <td class="filterable-cell">{{x.bankName}}</td>  
          <!--  <td >{{x.accNo}}</td>
            <td >{{x.cardNo}}</td>
        </tr>
        <tbody>
    </table>-->
    <div>
    <input ng-model="id" type="text" readonly hidden><br><br>
    BANK NAME: <input ng-model="bname" type="text" required><br><br>
    CARD NO: <input ng-model="card" type="password" required><br><br>
    ACC NO:<input ng-model="acc" type="password" required ><br><br>
     
   <button class="btn btn-info btn-lg" ng-click="update()">Update Bank</button>
    <button class="btn btn-danger btn-lg" ng-click="remove()">Remove Bank</button>
    <br>
    <br> 
</div>

</div>