<div ng-controller="logoutController">
    <h2>
       GOODBYE USER!!
    </h2>
    <hr>
    <label>MESSAGE</label>
         <textarea rows='6' cols='40' ng-model="msg">
      </textarea>
        <br>
        <br>
    <button class="btn btn-success btn-lg" ng-click="back()">Go to Wallet Home Page</button>

</div>