
<div ng-controller="payController">
    <button class="btn btn-success btn-lg" ng-click="options()">Go to  Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
    <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <h2>
        PAYMENT METHODS
    </h2>



    <!--   <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
    </div>-->

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <button class="btn btn-success btn-lg" ng-click="add()">
                    Add Money to Wallet from Bank
                    
                </button>
            </li>
            <li class="list-group-item">
                <button class="btn btn-primary btn-lg" ng-click="recharge()">
                    Recharge

                </button>
            </li>
            <li class="list-group-item">
                <button class="btn btn-danger btn-lg" ng-click="pay()">
                    Pay
                </button>
            </li>
            <li class="list-group-item">
                Mobile Number:<input type="number" ng-model="mobile"></input>
                <br><br> Amount:
                <input type="number" ng-model="amount"></input>
                <button class="btn btn-info btn-lg" ng-click="transfer()">
                    Send Money to Mobile Number Specified

                </button>
            </li>
        </ul>
        <div>


        </div>